:root {
  --bg-color: #F3EFEC;
  --text-color: #312A4E;
  --accent-color: #FFAB6B;
  --main-font: Raleway;
  --accent-font: 'STIX Two Text';
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.page {
  min-inline-size: 360px;
  margin: 0;
}

p,
h1,
h2,
h3,
blockquote,
ul,
ol,
li,
figure {
  margin: 0;
  padding: 0;
}

.page {
  background-color: var(--bg-color, #F3EFEC);
  color: var(--text-color, #312A4E);
  font-family: var(--main-font, Helvetica, Arial, sans-serif);
}

.header {
  padding-block-start: 10%;
}

.heading {
  font-family: var(--accent-font, TimesNewRoman, "Times New Roman", Times, Georgia, serif);
  line-height: 90%;
  font-weight: 600;
  text-align: center;
  vertical-align: top;
}

.header__title {
  font-size: clamp(3.75rem, 2.5rem + 5.5556vw, 7.5rem);
  margin-block-end: 40px;
}

.content-section {
  padding-inline-start: 5vi;
  padding-inline-end: 5vi;
}

.content__title {
  font-size: 30px;
  margin-block-start: 7%;
  margin-block-end: 2.5%;
}

.content__text-block {
  font-size: 18px;
}

.content__text-block .content__paragraph:not(:last-of-type) {
  padding-block-end: 1.5em;
}

.content__paragraph a {
  color: inherit;
}

.content__blockquote {
  inline-size: 75%;
  margin: 0 auto;
  font-style: italic;
  line-height: 200%;
  padding-block-end: 1.5em;
}

.content__list {
  list-style: none;
  padding-inline-start: 40px;
  position: relative;
}

.content__list::before {
  content: "";
  position: absolute;
  inset-block-start: 3px;
  inset-inline-start: 15px;
  inline-size: 15px;
  block-size: 15px;
  background: url("../images/marker-light.svg") no-repeat center / cover;
}

.content__list:not(:last-child) {
  padding-block-end: 10px;
}

.content__text-block_type_first-lettered .content__paragraph:first-child::first-letter {
  display: inline-block;
  font-size: 30px;
  font-weight: 700;
  background-color: var(--accent-color);
  padding: 0 4px;
  margin-inline-end: 5px;
}

.content__figure {
  margin-block-start: 7%;
  margin-block-end: 7%;
  inline-size: calc(100% + 10vi);
  position: relative;
  margin-inline-start: -5vi;
}

.content__picture {
  inline-size: 100%;
}

.content__picture-caption {
  padding-block-start: 20px;
  padding-block-end: 20px;
  text-align: center;
  border-bottom: 1px solid black;
}
